@media screen and (max-width: 799px) {
.sidebar-wrapper{
  visibility: hidden;
}

}


@media screen and (min-width: 800px) and (max-width: 1297px) {


  .sidebar-categories p{
   visibility: hidden;
 }
 .sidebar-logo{
  position: relative;
  margin-right: auto;
  margin-left: 0;
  width: 100%;
  

}

.sidebar-logo img{
  min-width: 80px;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
.sidebar-categories{
  align-items: center;
  margin: 1em;
}
.sidebar-categories img{
  min-width: 2vw;
  width:4vw;
  display: block;
  margin-left: 7vw;
}


}
