@media screen and (max-width: 799px) {
.sidebar-wrapper{
  visibility: hidden;
}
.flex-wrapper{
  margin: 0 7em 0 7em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  border: 1px solid yellow;
  /*padding: 2em;*/
}

.feed{
  width: 58%;
  margin: 10px;
}
.people-container{
  width:80%;
  margin: 10px;
}
.message-container{
  width:80%;
  margin: 10px;
}
.library-container{
  width:80%;
  margin: 10px;
}

}


@media screen and (min-width: 800px) and (max-width: 1297px) {

  .sidebar-categories p{
   visibility: hidden;
 }
 .sidebar-logo{
  position: relative;
  margin-right: auto;
  margin-left: 0;
  width: 100%;
  

}

.sidebar-logo img{
  min-width: 80px;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
.sidebar-categories{
  align-items: center;
  margin: 1em;
}
.sidebar-categories img{
  min-width: 2vw;
  width:4vw;
  display: block;
  margin-left: 7vw;
}


}
