/*==== Base Font ====*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400');

body{
  font-family: 'Montserrat', sans-serif;
  color:#fff;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0;
  padding: 0;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
/*========= Navigation =========*/
.nav-wrapper{
  display: flex;
  flex-flow: row wrap;
  float: right;
}
.nav-icon{
  margin: 2em;
}
.nav-wrapper:first-child{
  margin-right: 2em;
}

/*========= Sidebar ==========*/

.sidebar-wrapper{
  background: #666;
  width:20%;
  position: absolute;
  /*height: 100%;*/
  min-height: 800px;
  color:#fff;
}
.sidebar-wrapper hr{
  width:85%;
  background-color: #9e9e9e;
  height: 0.15px;
  opacity: 0.25;
  filter: alpha(opacity=25); /* For IE8 and earlier */
}
.sidebar-logo{
  background: url('../images/SLICES/logobase.png');
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  align-content: center;
}

.sidebar-logo img{
  display: block;
  padding: 2em;
  margin: auto;
}

.sidebar-profile{
  background-color:#0e0f17;
  display: block;
  align-content: center;
  padding: 1.5em;
}
.sidebar-profile img,
.sidebar-profile .user-name{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.sidebar-categories{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin:1em;
}
.sidebar-categories p{
  margin: 0;
  margin:auto auto auto 15px;
}
.sidebar-categories img{
  margin: 1em 0 1em 5em;
}
/*========== Main Container ========*/
.main-wrapper{
  background: url('../images/SLICES/bg.png');
  background-repeat: no-repeat;
  object-fit: fill;
  /*width: 80%;*/
  width: 100%;
  /*height: 100%;*/
  height: 799px;
  /*margin-left: 20%;*/
  margin-top: 0;
  border: 1px solid grey;
}
.flex-wrapper{
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding-top: 4em;
  margin-left: 20%;
}
.flex-item{
}

/*======== Feed Dialog ============*/
.feed{
 width: 42%;
 margin: 0 10px 10px 0;
}
.feed-container{
  background-color: #666;
  color: #fff;
  width: 100%;
  min-width:425px;
  height: 220px;
  overflow: hidden;
  margin-bottom: 0;
}
.feed-icon{
  width: 150px;
  height: 40px;
}
.filter-icon{
  float: right;
  margin:8px 20px 0 0;
}
.feed-thread{
  background-color:#fff;
  border-radius: 15px;
  font-size: 11px;
  width:95%;
  height: 50%;
  color:#666; 
  margin: 0 10px 10px 10px;
}

.feed-action-container{
  display: flex;
  flex-flow: row wrap;
  width: 475px; 
  margin:0;
  padding: 0;
}
.feed-action{
  margin-left: 20px;
  margin-right: 20px;
  display: block;
}
.feed-action-container .superScript{
  display: block;
  margin:0 0 0 0;
  margin-left: -15px;
  padding-top:3px;
  padding-bottom: 0;
  font-size: 8px;

}
.feed-user-info{
  display: flex;
  flex-flow: row;
}
.feed-user-info img{
  width:30px;
  height: 30px;
  margin-top:15px;
  margin-left: 15px;
  margin-right: 10px;
}
.feed-user-name{

  display: block;
  margin-top: 0;
  font-size: 10px;
}
.feed-user-name p{
  margin:0;
}
.feed-user-name:last-child{
  padding-top: 15px;
}

.feed-heading{
  text-transform: uppercase;
}
.feed-content{
  margin:0px 15px 0px 15px;
}
.feed-content p{
  margin:0;
}
.feed-container hr{
  margin: 0;
  margin-bottom: 5px;
  background-color: #9e9e9e;
  height: 0.15px;
  opacity: 0.25;
  filter: alpha(opacity=25); /* For IE8 and earlier */

}
.feed-action img{
  width:60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.feed-action p{
  margin:0;
  font-size: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.feed-footer{
  min-width: 425px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;  
  align-items: center;
  justify-content: center;
  background: #000;
  opacity: 0.47;
}
.feed-footer p{
  margin:3%;
  color:#fff;

}

/*========= People Doalig =========*/
.people-container{
  background-color: #173750;
  min-width:27%;
  width: 32%;
  /*width: 18vw;*/
  height: 255px;
  padding-top: 10px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 30px 10px 0;
}


.people-container .people-item{
  display: flex;
  flex-flow: row wrap;
  margin-left: 15px;
}
.people-container .people-item img{
  width: 35px;
  height: 35px;
}
.people-container .people-item p{
  margin: 0;
  margin: 5px 0 0 10px;
  font-size: 12px;
}
.more-link{
  margin: 0;
  margin-left: 55px;
  margin-right: auto;
  margin: 10px auto 0 55px;
  font-size: 9px;
}
.people-container .vertical-line{
  height: 200px;
  width: 1px;
  border-left: 1px;
  background-color: #9e9e9e;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.27;
}

.people-container .people-icon img{
  margin-right: 0;
  width: 150px;
  margin-top: 45px;
}

/*========= Message Box =========*/
.message-container{
  background-color: #ff9e01;
  width: 34.5%;
  height: 205px;
  padding-bottom: 5px;
  margin: 0 10px 10px 0;
}
.message-user-name{
  display: flex;
  flex-flow: row wrap;
  padding: 20px 0 0 20px;

}
.message-user-name p{
  margin:0;
  text-transform: uppercase;

}

.message-user-name .back{
  width:30px;
  height: 30px;
  margin: -5px 4px 0 4px;
}
.message-user-name .message-icon{
  margin-left: 53px;
  margin-top: -20px;
  padding: 0;
  width: 150px;
  height: 51px;
}
.message-body{
  background-color: #ffefcf;
  color: #000;
  border-radius: 10px;
  width: 95%;
  height: 152px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
}
.message-receiver{
  display: flex;
  flex-flow: row wrap;
  margin:5px 0px 0 10px;
}
.message-receiver img{
  padding: 8px;
}
.message-receiver p{
 margin-right: 4px;
 margin-left: 0px;
 font-size: 12px;
}
.message-thread-res{
  background-color: #fff; 
  width: 65%;
  border-radius: 10px;
  display: block;
  margin-left: 10px;
  font-size: 11px;
  border: 1px solid #fff;
}
.message-thread-res p{
  padding: 0.5px;
  margin:5px;
}

.message-thread-sent{
  border: 1px solid #17344c;
  background-color: #17344c; 
  color:#fff;
  width: 65%;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: 10px;
  font-size: 11px;
  margin-top: 5px;

}
.message-thread-sent p{
  padding: 0.5px;
  margin:5px;
}
.reply{
  height: 15px;
  width: 95%;
  border: 1px solid #17344c;
  border-radius: 5px;
  padding: 1px;
  margin: 3px;
}

.reply img{
  float: right;
}

/*========= Library =========*/

.library-container{
  background-color: #b32451;
  min-width:27%;
  width: 30%;
  height: 200px;
  padding: 10px 10px 0 10px;
  margin: 0 30px 10px 0;
}
.library-collection{
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: flex-end;
}
.library-item{
  display: block;
  margin: 15px 5px 0 5px;

}
.library-item p{
  margin: 0;
  margin-top: 4px;
  font-size: 10px;
  text-align: center;
}
.library-item img{
  width: 45%;
  height: 45%;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.library-container .library-icon img{
  margin-top: -30px;
  width: 120px;
  margin-left: -10px;
  float: left;
}
@keyframes expand-feed{
  0%{
   width: 505px;
   height: 310px;
 }
 100%{
  width: 330px;
  height: 210px;
}
}


